.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* bootstrap? */

.container-fluid {
  padding: 0;
  margin: 0;
}

.text-center {
  text-align: center;
}

.text-center {
  text-align: center;
}

.p-3 {
  padding: 1rem; /* ajuste este valor conforme necessário */
}

.text-white {
  color: white;
}

.text-black {
  color: black;
}

.text-muted {
  color: #6c757d;
}

/* Componentes */

.bg-f1f1f1 {
  background-color: #f1f1f1;
}

.bg-333 {
  background-color: #333;

}

.bg-white {
  background-color: white;
}


.Logo {
  height: 10vmin;
  width: auto;
  pointer-events: none;
}

.social-icon {
  font-size: 1.25rem;

  &:hover {
    color: #007bff;
  }

  /* &.github {
    color: #333;
  } */

}

.link-utils {
  color: #6c757d;
  font-size: 0.8rem;
}

nav-link{
  color: #007bff;
}

/* depois ver a melhor forma de instalar o boostrap */